[submodule "src/third-party/meteor-pagination"]
	path = src/third-party/meteor-pagination
	url = git://github.com/cfriel/meteor-pagination.git
[submodule "src/third-party/meteor-jquery-masonry"]
	path = src/third-party/meteor-jquery-masonry
	url = git://github.com/cfriel/meteor-jquery-masonry.git
[submodule "src/packages/greenlight-analytics"]
	path = src/packages/greenlight-analytics
	url = https://github.com/cfriel/greenlight-analytics.git
[submodule "src/packages/greenlight-forms"]
	path = src/packages/greenlight-forms
	url = https://github.com/cfriel/greenlight-forms.git
[submodule "src/packages/greenlight-services"]
	path = src/packages/greenlight-services
	url = https://github.com/cfriel/greenlight-services.git
[submodule "src/third-party/meteor-slickgrid"]
	path = src/third-party/meteor-slickgrid
	url = https://github.com/cfriel/meteor-slickgrid.git
[submodule "src/third-party/meteor-select2"]
	path = src/third-party/meteor-select2
	url = https://github.com/cfriel/meteor-select2.git
[submodule "src/packages/greenlight-create"]
	path = src/packages/greenlight-create
	url = https://github.com/cfriel/greenlight-create.git
[submodule "src/packages/greenlight-sheets"]
	path = src/packages/greenlight-sheets
	url = https://github.com/cfriel/greenlight-sheets.git
[submodule "src/packages/greenlight-visualization"]
	path = src/packages/greenlight-visualization
	url = https://github.com/cfriel/greenlight-visualization.git
[submodule "src/packages/greenlight-sites"]
	path = src/packages/greenlight-sites
	url = https://github.com/cfriel/greenlight-sites.git
[submodule "src/third-party/bootstrap"]
	path = src/third-party/bootstrap
	url = https://github.com/cfriel/bootstrap.git
[submodule "src/third-party/meteor-bootstrap"]
	path = src/third-party/meteor-bootstrap
	url = https://github.com/cfriel/meteor-bootstrap.git
[submodule "src/packages/greenlight-profile"]
	path = src/packages/greenlight-profile
	url = https://github.com/cfriel/greenlight-profile.git
[submodule "src/packages/greenlight-hosted"]
	path = src/packages/greenlight-hosted
	url = https://github.com/cfriel/greenlight-hosted.git
[submodule "src/third-party/meteor"]
	path = src/third-party/meteor
	url = https://github.com/cfriel/meteor.git
[submodule "src/third-party/CodeMirror"]
	path = src/third-party/CodeMirror
	url = https://github.com/cfriel/CodeMirror.git
[submodule "src/third-party/meteor-npm"]
	path = src/third-party/meteor-npm
	url = https://github.com/cfriel/meteor-npm.git
[submodule "src/third-party/elasticsearch"]
	path = src/third-party/elasticsearch
	url = https://github.com/cfriel/elasticsearch.git
[submodule "src/packages/greenlight-data"]
	path = src/packages/greenlight-data
	url = https://github.com/cfriel/greenlight-data.git
[submodule "src/third-party/storm"]
	path = src/third-party/storm
	url = https://github.com/cfriel/storm.git
[submodule "src/third-party/storm-starter"]
	path = src/third-party/storm-starter
	url = https://github.com/cfriel/storm-starter.git
