[submodule "src/third-party/meteor-pagination"]
	path = src/third-party/meteor-pagination
	url = git://github.com/cfriel/meteor-pagination.git
[submodule "src/third-party/meteor-jquery-masonry"]
	path = src/third-party/meteor-jquery-masonry
	url = git://github.com/cfriel/meteor-jquery-masonry.git
[submodule "src/templates/greenlight-analytics"]
	path = src/templates/greenlight-analytics
	url = https://github.com/cfriel/greenlight-analytics.git
[submodule "src/templates/greenlight-forms"]
	path = src/templates/greenlight-forms
	url = https://github.com/cfriel/greenlight-forms.git
