.site_template_item
{
    width: 200px;
    height: 200px;
    background: orange;
    margin-top: 20px;
    text-overflow: ellipsis;
}

.site_template_name
{
    font-weight: bold;
}

.site_template_description
{
}

.site_template_item.selected
{
    background: #fff2a8;
}